@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
		margin: 0px;
		background-image: url(sunset.jpg);
		background-position: cemter;
		background-size: cover;
}


nav{
	background: radial-gradient(circle, rgba(152,161,159,1) 0%, rgba(255,0,0,1) 0%, rgba(219,168,71,1) 39%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

nav img{
	height: 70px;
	border-radius: 50%;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	font-family: Dancing Script;
}

nav ul li a{
	margin: 20px;
	padding: 20px;
	text-decoration: none;
	background-color: white;
	border-radius: 15px;
	background-color: orangered;
}

nav ul li a:hover{
	background-color: darkorange;
	color: white;
}