@import url('https://fonts.googleapis.com/css2?family=Lora&family=Supermercado+One&display=swap');

body{
	background: linear-gradient(180deg, rgba(6,87,245,1) 20%, rgba(232,52,52,0) 54%, rgba(233,35,0,1) 70%);
	font-size: 20px;
	font-family: Lora;
	color: Black;
}
img{
	float: right;
	width: 200px;
	border: 20px solid blue;
}

ul{
	font-family: Lora;
}
ol{
	font-family: Lora;
}
.signature{
	font-family: "Supermercado One";
	font-size: 50px;