/*
*
*Title: Basic website about Winter;
*Author: Boran Hadri;
*Date: 17.03.2022;
*
*/

/***********************************General Styling***********************************************/



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
		margin: 0px;
}

/*Navigation*/
nav{
	background-color: lightblue;
	display: flex;
	justify-content: space-between; /*To make the links on the right side and the logo on the left*/
	align-items: center;
	padding: 30px;
	background: radial-gradient(circle, rgba(20,66,171,1) 42%, rgba(49,185,193,1) 68%);;
}

nav img{
	height: 70px;
	border-radius: 50%; /* To make the logo round*/
} 

nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; /*It removes the bullet points*/
	font-family: Dancing Script;
}

nav ul li a{
	margin: 20px;
	padding: 20px;
	text-decoration: none; /*It removes the underline*/
	background-color: white;
	border-radius: 15px;
	background-color: skyblue;
}

nav ul li a:hover{
	/*Hover changes the elements if we move the mouse over it*/
	background-color: darkorange;
	color: white;
}
/*Header*/

header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("winter2.jpg");
	background-position: center;
	background-size: cover;
}

header h1{
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
}

/* Main */

main{
	padding: 60px;
	background: radial-gradient(circle, rgba(29,188,210,1) 42%, rgba(51,224,197,1) 68%);;
}

main h2{
	color: white;
	font-size: 30px;
}

main p{
	background-color: lightblue;
	padding: 20px;
}

/* Footer */

footer{
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url("winter3.jpg");
}
footer p{
	color: blue;
	background-color: lightcyan;
	border-radius: 40%;
	padding: 20px;
}

footer hover:{
	background-color: lightblue;
	color: white;
}