@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto+Mono:ital,wght@0,100;1,200&display=swap');
nav{
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 8px;
border-bottom: 1px solid black;

}

nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none;
}

nav ul li a{
margin: 20px;
padding: 20px;
text-decoration: none;
border-radius: 15px;
background-color: white;
color: black;
font-family: Roboto Mono;
}

h1{
	color: black;
	font-size: 15px;

}
.class1{
	font-family: Merriweather;
}
.class{
	font-family: Roboto Mono;
}


section{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
article .foto4{
	width:200px ;
	height: 170px;
	background-image: url("foto4.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	position: absolute;
	top: 80px;
	left: 0px;
	margin: 30px;
}
article .black-box{
	background-color: black;
	color: white;
	padding: 8px;
	font-size: 11px;
	text-transform: uppercase;
	position: absolute;
	top: 80px;
	left: 0px;
	margin: 30px;
}

